<div class='w-screen h-screen flex justify-center'>
  <div class='mx-20 w-full '>
    <header class='flex flex-row justify-between items-center mt-8'>
      <h1 data-test-title class='font-Poiret-One text-4xl text-orange-1'>Wakeskate?</h1>
      <Settings />
    </header>
    {{yield}}
  </div>
</div>