<div class='container flex justify-center items-center'>
  <div class='mx-20 w-full'>
    <header class='flex flex-row justify-between items-center mt-8'>
      <h1 data-test-title class='font-Poiret-One text-4xl'>Wakeskate?</h1>
      <Settings />
    </header>
    {{yield}}
  </div>
</div>