<button type='button' ...attributes>
  <img
    class='w-6 h-6 max-w-[1.5rem] max-h-[1.5rem] min-w-[1.5rem] min-h-[1.5rem] hover:scale-105 right-1'
    src='/assets/icons/moreInfo.svg'
    alt='More information icon'
  />
</button>