<form class='my-4'>
  <Input
    aria-label='Enter a location'
    placeholder='Enter a location'
    class='border border-gray-1 w-3/4 px-2 py-1'
  />
  <button type='button' class="border border-gray-1 py-1 px-2">Search</button>
</form>