<form class='my-4' {{on 'submit' @onSubmit}}>
  <Input
    @value={{@query}}
    aria-label='Enter a location'
    placeholder='Enter a location'
    class='border border-gray-1 w-1/2 md:w-3/4 px-2 py-1'
  />
  <BlueButton type="submit">
    Search
  </BlueButton>
</form>